@font-face {
	font-family: NeoSansArabic;
	src: url('../fonts/NeoSansArabic.eot');
	src: url('../fonts/NeoSansArabic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/NeoSansArabic.woff') format('woff'),
	url('../fonts/NeoSansArabic.ttf') format('truetype'),
	url('../fonts/NeoSansArabic.svg#NeoSansArabic') format('svg');
	font-weight: normal;
	font-style: normal;
}

.nav-h {
	list-style: none;
	height:26px;
	padding: 0;
	text-align:right;
	width:500px;
	float:right;
   margin-top: 32px;
    transition: background 400ms ease-in-out 0s;
   	font-family: NeoSansArabic ,Tahoma, sans-serif;

}
.nav-h ul {
	position: absolute;
	list-style: none;
	z-index: 1000;
	display: none;
	width: 190px; /* عرض القائمة الفرعية */
	padding: 0;
	margin: 0;
	top: 100%;
	right: 0;
}
.nav-h ul ul, #nav-h ul ul ul {
	right: 100%;
	top: 0;
}
.nav-h li {
	display: inline;
	float: right;
}
.nav-h li.iehover { 
	z-index: 1000;
} 
.nav-h ul li {
	display: block;
	width: 100%;
}






/* ---- ROOT > -------------------------- */
.nav-h a {
	padding: 4px 10px;
	text-decoration: none;
	outline-style:none;
	display: block;
	border-radius: 4px 4px 4px 4px;
	float: left;
	
	font-size:15px;
	color: #ffffff;
	transition: background 300ms ease-in-out 0s;
	height: auto !important;
	height: 1%;
}
/* ---- ROOT:Hover > -------------------- */
.nav-h a:hover, #nav-h li:hover a, #nav-h li.iehover a {
    background: none repeat scroll 0 0 #3BA6B1;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
	padding: 3px 10px;
	margin-top:1px;
	    transition: background 300ms ease-in-out 0s;
    color: #333333;
	 text-shadow: 0 1px 0 #3DAEBA;
	float: none;
	    font-family: NeoSansArabic,tahoma;
}
/* ---- ROOT.ArrowDown > ---------------- */
.nav-h a.popup_down {
	background-position: 5px 9px;
	background-repeat: no-repeat;
	padding-left: 7px;
}


/* ---- ROOT > LEVEL_01 ----------------- */
.nav-h li:hover li a, #nav-h li.iehover li a {
    background: none repeat scroll 0 0 #3BA6B1;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
	padding: 3px 10px;
	margin-top:1px;
	    transition: background 300ms ease-in-out 0s;
    color: #333333;
	float: none;
	    font-family: NeoSansArabic,tahoma;

}
/* ---- ROOT > LEVEL_01:Hover ----------- */
.nav-h li:hover li a:hover, #nav-h li:hover li:hover a, #nav-h li.iehover li.iehover, #nav-h li.iehover li.iehover a {


}
/* ---- ROOT > LEVEL_01.ArrowLeft ------- */


/* ---- ROOT >> LEVEL_02 ---------------- */
.nav-h li:hover li:hover li a, #nav-h li.iehover li.iehover li a {
	border-bottom: 1px solid #6E3074;
	background-color: #79357F;
	color: #FFF;
}
/* ---- ROOT >> LEVEL_02:Hover ---------- */
.nav-h li:hover li:hover li a:hover, #nav-h li:hover li:hover li:hover a, #nav-h li.iehover li.iehover li a:hover, #nav-h li.iehover li.iehover li.iehover a {
	background-color: #6C2A72;
	color: #FFF;
}


/* ---- ROOT >>> LEVEL_03 --------------- */
.nav-h li:hover li:hover li:hover li a, #nav-h li.iehover li.iehover li.iehover li a {
	border-bottom: 1px solid #5E2763;
	background-color: #6C2A72;
	color: #FFF;
}
/* ---- ROOT >>> LEVEL_03:Hover --------- */
.nav-h li:hover li:hover li:hover li a:hover, #nav-h li.iehover li.iehover li.iehover li a:hover {
	background-color: #502853;
	color: #FFF;
}


.nav-h li:hover ul ul, #nav-h li:hover ul ul ul, #nav-h li.iehover ul ul, #nav-h li.iehover ul ul ul {
	display: none;
}
.nav-h li:hover ul, #nav-h ul li:hover ul, #nav-h ul ul li:hover ul, #nav-h li.iehover ul, #nav-h ul li.iehover ul, #nav-h ul ul li.iehover ul {
	display: block;
}